.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.margin-top {
    margin-top: 20px;
}

.callout {
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
}

.callout-left {
    border-left-width: 5px;
    border-left-color: #18bc9c;
}

.callout-right {
    border-right-width: 5px;
    border-right-color: #18bc9c;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout h4 {
    color: #18bc9c;
}
.img-responsive{
  width:256px;
}
.roundBorder{
  border-radius: 50%;
}

#hide input[type=file] {
display:none;
margin:10px;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
