<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" ui-sref="app.home">Portfolorian</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll btn btn-primary" ng-if="!$root.isAuthenticated" ng-click="home._authService.login()">Login</a>
              </li>
              <li>
                  <a class="page-scroll" ui-sref="app.portfolio" ng-if="$root.isAuthenticated">My Portfolio</a>
              </li>
              <li>
                  <a class="page-scroll" ng-if="$root.isAuthenticated" ng-click="home._authService.logout()">Logout</a>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
